@tailwind base;
@tailwind components;
@tailwind utilities;


.hero__img{
    background-image: url("../img/bg-intro-mobile.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media screen and (min-width: 568px) {
    .hero__img {
        background-image: url("../img/bg-intro-desktop.svg");
        background-position: 10px -95px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    /* .hero__img img {
        margin-bottom: -100px;
    } */
    }
